* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
  background-color: rgb(5, 5, 61);
  position: fixed;
}

header p {
  font-size: 4vw;
  color: white;
}

header img {
  width: 5vw;
}

.content-aside {
  width: 100vw;
}
aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  height: 100vh;
  justify-content: center;
}

aside img {
  width: 40vw;
}

aside h1 {
  font-size: 1.5rem;
  text-align: center;
}
/* aside p {
  text-align: center;
  font-size: 1rem;
} */
.content {
  padding: 15px;
  background-color: rgb(235, 233, 233);
}

.content article {
  margin: 15px;
}
.content article p {
  margin-bottom: 8px;
}
.content article h3 {
  font-size: 25px;
  padding-left: 15px;
}

.content article .materi {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  gap: 20px;
  flex-wrap: wrap;
}
.content article .materi div {
  height: 200px;
  width: 160px;
  box-shadow: 0 0 10px rgb(255, 255, 255);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content article .materi div img {
  width: 140px;
  margin: auto;
}

.content article .Profesi {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  gap: 20px;
  flex-wrap: wrap;
}

.content article .Profesi div {
  box-shadow: 0 0 10px rgb(110, 110, 110);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.3s;
}
.content article .Profesi div:hover {
  box-shadow: 0 0 10px rgb(0, 119, 255);
  transition: all 0.3s;
  background-color: rgb(255, 255, 255);
}
.content article .Profesi div p {
  display: none;
}
.content article .Profesi div p.deskripsi {
  display: flex;
}

footer {
  background-color: rgb(5, 5, 61);
  padding: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .about {
  padding: 20px;
  text-align: center;
}
footer .alamat iframe {
  width: 80vw;
  height: 250px;
  border: 0;
  border-radius: 7px;
}
